{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% block title %}پروفایل شما{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
                    <div class="sidebar-widget">
                        <div class="banner mb-3">
                            <a href="#">
                                <img src="{% static './images/banner/banner-profile-sidebar.jpg' %}"
                                    class="box-shaow-unset has-border" alt="...">
                            </a>
                        </div>
                        <div class="profile-sidebar shadow-around">
                            <div class="d-flex align-items-center">
                                <div class="profile-avatar">
                                    <img src="{% static './images/avatar/avatar.png' %}" alt="avatar">
                                </div>
                                <div class="profile-info">
                                    <div class="d-block">
                                        <h6><strong>{{ user.get_full_name }}</strong></h6>
                                    </div>
                                    <div class="d-block">
                                        <strong class="text-muted">{{ user.phone_number }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="user-options">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>کیف پول</span>
                                            <span>{{ user.wallet_amount|intcomma }} <span
                                                    class="text-info font-weight-bold">تومان</span></span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <span>همتا کلاب</span>
                                            <span>0 <span class="text-info font-weight-bold">امتیاز</span></span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="user-menu">
                                <ul>
                                    <li>
                                        <a href="{% url 'account:profile' %}">
                                            <i class="far fa-clipboard-list-check"></i>
                                            صفحه اصلی
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'account:profile_order' %}">
                                            <i class="far fa-clipboard-list-check"></i>
                                            سفارش های من
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:profile_comment' %}">
                                            <i class="far fa-comment-alt-lines"></i>
                                            نظرات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:profile_address' %}">
                                            <i class="far fa-map-marked"></i>
                                            نشانی ها
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <i class="far fa-envelope"></i>
                                            پیغام ها
                                        </a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#">
                                            <i class="far fa-clock"></i>
                                            بازدیدهای اخیر
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="{% url 'account:profile_personal_info' %}">
                                            <i class="far fa-user-cog"></i>
                                            اطلاعات حساب
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="far fa-sign-in-alt"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% block main %}
                {% endblock %}
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                    <div class="banner">
                        <a href="#">
                            <img src="./assets/images/banner/banner-sm-01.jpg" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                    <div class="banner">
                        <a href="#">
                            <img src="./assets/images/banner/banner-sm-02.jpg" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                    <div class="banner">
                        <a href="#">
                            <img src="./assets/images/banner/banner-sm-03.jpg" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                    <div class="banner">
                        <a href="#">
                            <img src="./assets/images/banner/banner-sm-04.jpg" alt="banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}