{% extends '../base.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="mt-5 pb-5 text-center">
                    <h2>تماس با همتا</h2>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-12">
                <div class="card shadow p-3 mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <p class="text-muted">برای پیگیری یا سوال درباره سفارش و ارسال پیام بهتر است
                                    از فرم زیر استفاده کنید.</p>
                            </div>
                            <form method="post" class="col-12" novalidate>
                                {% csrf_token %}
                                {{ form }}
                                <div class="form-group text-center mt-4">
                                    <button type="submit" class="btn btn-info">ثبت و ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
