{% extends '../base.html' %}
{% load humanize %}
{% block title %}نتایج جستجو برای  "{{ search }}"{% endblock %}

{% block content %}

<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<div class="row align-items-center mb-4"></div>
<section class="product-carousel in-box">
    <div class="section-title">
        <i class="fad fa-pen-nib"></i>
            نتایج جستجو برای  "{{ search }}"
    </div>
    <main class="page-content">
        <div class="container translateY-25">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="listing-items row">
                        {% for product in object_list %}
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-0">
                                <div class="product-card pb-2">
                                    <div class="product-card-top">
                                        <a href="{{ product.get_absolute_url }}" class="product-image">
                                            <img src="{{ product.images.first.image.url }}" alt="product image">
                                        </a>
                                    </div>
                                    <div class="product-card-middle">
                                        <h6 class="product-name">
                                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                        </h6>
                                        <div class="product-price product-price-clone">{{ product.price_after_discount|intcomma }} تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <del class="text-danger">
                                                {{ product.price|intcomma }} تومان
                                            </del>
                                        </div>
                                        <a href="{% url 'cart:item_add' product.id %}?next={{request.path}}">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</section>
{% endblock %}