{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %} ارسال مدارک{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="checkout-section shadow-around p-4">
                    <div class="alert alert-success text-center mb-4 text-dark font-weight-bolder">آپلود مدارک</div>
                    <div class="mb-4 text-center font-weight-bold text-dark">بعد از ارسال مدارک با شما تماس می‌گیریم!</div>

                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">ارسال مدارک</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
