{% extends '../base.html' %}
{% load humanize %}

{% block title %}اتمام خرید و ارسال{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="row mb-4">
                <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
                    <div class="checkout-section shadow-around">
                        <div class="checkout-step">
                            <ul>
                                <li class="active">
                                    <a href="#"><span>سبد خرید</span></a>
                                </li>
                                <li class="active">
                                    <span>نحوه ارسال و پرداخت</span>
                                </li>
                                <li class="active">
                                    <span>اتمام خرید و ارسال</span>
                                </li>
                            </ul>
                        </div>
                        <div class="checkout-message">
                            <div class="checkout-message-success mb-3">
                                <div class="icon-message success-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                سفارش <span class="order-code">{{ order.code }}</span> با موفقیت پرداخت و ثبت گردید.
                                
                                {% if order.payment_type == 'Internet' %}
                                     کد پیگیری 
                                    <span class="order-code">{{ ref_id }}</span>  
                                     را پیش خود نگه دارید.
                                {% endif %}
                            </div>
                            <div class="text-center text-muted">
                                <p class="mb-4">
                                    پرداخت با موفقیت انجام شد. سفارش شما با موفقیت ثبت شد و در
                                    زمان تعیین‌شده برای شما ارسال خواهد شد. از اینکه ما را برای خرید انتخاب کردید از
                                    شما سپاسگزاریم.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="shadow-around pt-3">
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="text-muted">نام تحویل گیرنده:</span>
                            <span class="text-muted">
                                {{ order.address.user.get_full_name }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="text-muted">شماره تماس :</span>
                            <span class="text-danger">
                                {{ order.address.user.phone_number }}
                            </span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="font-weight-bold">مبلغ کل:</span>
                            <span class="font-weight-bold">
                                {{ order.get_total_cost_after_discount|intcomma }}
                                <span class="text-sm">تومان</span>
                            </span>
                        </div>
                        <hr>
                        <div class="px-3 py-2">
                            <span class="text-muted d-block">آدرس :</span>
                            <span class="text-info">
                                {{ order.address.title }}
                            </span>
                        </div>
                        <div class="px-3 py-4">
                            <a href="{% url 'account:profile_order' %}"
                                class="d-flex align-items-center justify-content-center px-4 py-2 btn btn-primary">پیگیری
                                سفارش <i class="fad fa-clipboard-list mr-3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}